Exploratory Data Analysis

In [5]:
import pandas as pd

cashrequestdf = pd.read_csv("project_dataset/cashreq.csv")
feesdf = pd.read_csv("project_dataset/fees.csv")

In [ ]:
cashrequestdf.head(5)

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
1,70,100.0,rejected,2019-12-10 19:50:12.34778+00,2019-12-11 14:24:22.900054+00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,NaN,NaN,NaN

In [19]:
print("first created date is: ",cashrequestdf["created_at"].min())
print("last created date is: ",cashrequestdf["created_at"].max())

first created date is:  2019-11-19 13:57:53.511561+00
last created date is:  2020-11-01 23:42:30.847066+00

In [8]:
cashrequestdf.describe()

                 id        amount        user_id  deleted_account_id
count  23970.000000  23970.000000   21867.000000         2104.000000
mean   13910.966124     82.720818   32581.250789         9658.755228
std     7788.117214     26.528065   27618.565773         7972.743249
min        3.000000      1.000000      34.000000           91.000000
25%     7427.250000     50.000000   10804.000000         3767.000000
50%    14270.500000    100.000000   23773.000000         6121.500000
75%    20607.750000    100.000000   46965.000000        16345.000000
max    27010.000000    200.000000  103719.000000        30445.000000

In [10]:
cashrequestdf.shape

(23970, 16)

In [12]:
cashrequestdf.isnull().sum()

id                                0
amount                            0
status                            0
created_at                        0
updated_at                        0
user_id                        2103
moderated_at                   7935
deleted_account_id            21866
reimbursement_date                0
cash_request_received_date     7681
money_back_date                7427
transfer_type                     0
send_at                        7329
recovery_status               20640
reco_creation                 20640
reco_last_update              20640
dtype: int64

In [ ]:
# 2130 user_id missing

In [13]:
cashrequestdf.nunique()

id                            23970
amount                           41
status                            7
created_at                    23970
updated_at                    23970
user_id                       10798
moderated_at                  16035
deleted_account_id             1141
reimbursement_date             4089
cash_request_received_date      312
money_back_date               12221
transfer_type                     2
send_at                       16641
recovery_status                   4
reco_creation                  3330
reco_last_update               3330
dtype: int64

In [20]:
cashrequestdf.sample(20)

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
21381,25796,100.0,money_back,2020-10-28 19:30:39.352333+00,2020-12-18 13:12:54.616302+00,21853.0,NaN,NaN,2020-11-05 22:00:00+00,2020-10-29,2020-11-05 20:56:01.34618+00,instant,2020-10-28 19:30:56.729703+00,NaN,NaN,NaN
4693,11460,100.0,rejected,2020-08-08 08:40:15.538355+00,2020-08-08 10:53:10.907658+00,5223.0,2020-08-08 10:53:10.90506+00,NaN,2020-09-02 22:00:00+00,NaN,NaN,instant,2020-08-15 08:40:15.537994+00,NaN,NaN,NaN
23852,26958,50.0,money_back,2020-11-01 16:31:01.852614+00,2020-12-18 13:16:40.701691+00,30804.0,2020-11-02 08:54:06.925822+00,NaN,2020-11-27 23:00:00+00,2020-11-02,2020-12-12 06:00:16.021358+00,instant,2020-11-01 16:31:24.032809+00,completed,2020-12-09 22:14:23.99723+00,2020-12-12 06:00:16.026402+00
6952,767,100.0,money_back,2020-02-29 09:55:11.54584+00,2020-11-04 12:55:09.233004+00,3045.0,2020-02-29 15:23:38.727884+00,NaN,2020-03-30 22:00:00+00,2020-03-03,2020-04-08 21:02:20.346857+00,regular,NaN,NaN,NaN,NaN
17228,17461,80.0,money_back,2020-09-23 12:34:27.648499+00,2020-12-18 13:11:12.681805+00,47869.0,2020-09-23 13:32:21.667969+00,NaN,2020-10-06 10:00:00+00,2020-09-25,2020-10-06 19:47:33.700937+00,instant,2020-10-07 12:34:27.619565+00,NaN,NaN,NaN
11165,4022,60.0,money_back,2020-06-18 19:01:28.324504+00,2020-12-18 13:08:57.728011+00,7357.0,2020-06-19 10:50:09.885042+00,NaN,2020-07-05 22:00:00+00,NaN,2020-07-07 22:00:00+00,regular,NaN,NaN,NaN,NaN
18437,19942,100.0,money_back,2020-10-08 20:34:07.814684+00,2020-12-18 13:11:42.579463+00,35238.0,NaN,NaN,2020-10-23 20:33:13.11+00,2020-10-19,2020-10-28 23:00:00+00,regular,2020-10-15 20:34:07.812314+00,NaN,NaN,NaN
8934,867,100.0,money_back,2020-03-12 21:31:14.048865+00,2020-11-04 12:55:09.103199+00,3628.0,2020-03-13 13:42:57.646877+00,NaN,2020-04-13 22:00:00+00,2020-03-16,2020-04-22 20:51:08.925459+00,regular,NaN,NaN,NaN,NaN
2736,7787,100.0,rejected,2020-07-13 10:52:59.075456+00,2020-07-13 15:20:26.011902+00,21003.0,2020-07-13 15:20:26.009478+00,NaN,2020-08-03 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
16542,16577,70.0,money_back,2020-09-17 10:27:01.56785+00,2020-12-18 13:10:56.926802+00,34872.0,2020-09-17 10:46:20.69082+00,NaN,2020-10-05 22:00:00+00,2020-09-18,2020-10-23 08:02:54.092654+00,instant,2020-09-24 10:27:01.524074+00,completed,2020-10-16 23:49:23.846976+00,2020-10-23 08:02:54.107601+00
4497,17779,100.0,money_back,2020-09-25 08:37:00.294163+00,2020-12-18 13:08:30.036736+00,48827.0,2020-09-25 09:45:01.314898+00,NaN,2020-10-30 23:00:00+00,NaN,2020-11-01 19:15:08.724461+00,instant,2020-10-02 08:37:00.266675+00,NaN,NaN,NaN
11914,8187,100.0,money_back,2020-07-15 13:35:41.373975+00,2020-12-18 13:09:14.784477+00,32844.0,2020-07-17 08:43:49.442671+00,NaN,2020-07-30 22:00:00+00,2020-07-18,2020-07-30 22:00:00+00,regular,NaN,NaN,NaN,NaN
2611,4681,100.0,money_back,2020-06-22 17:08:12.547955+00,2020-12-18 13:08:57.159624+00,20651.0,2020-06-23 14:33:15.42001+00,NaN,2020-07-06 10:00:00+00,2020-06-25,2020-07-07 22:00:00+00,regular,NaN,NaN,NaN,NaN
16231,16573,100.0,money_back,2020-09-17 10:09:24.915968+00,2020-12-18 13:10:48.809344+00,10166.0,2020-09-17 10:42:36.975988+00,NaN,2020-11-04 20:00:00+00,2020-10-01,2020-11-04 19:37:12.321381+00,instant,2020-09-24 10:09:24.868001+00,NaN,NaN,NaN
14382,24373,25.0,money_back,2020-10-25 13:55:42.166817+00,2020-12-18 13:10:09.128766+00,91364.0,NaN,NaN,2020-11-12 22:00:00+00,2020-10-27,2020-11-15 23:00:00+00,instant,2020-10-25 13:55:58.955284+00,NaN,NaN,NaN
14045,5748,100.0,money_back,2020-06-29 09:17:35.935269+00,2020-12-18 13:09:59.803436+00,4906.0,2020-06-29 11:51:17.571337+00,NaN,2020-08-05 22:00:00+00,2020-07-01,2020-08-05 22:00:00+00,regular,NaN,NaN,NaN,NaN
14214,11890,100.0,money_back,2020-08-11 07:47:38.136751+00,2020-12-18 13:10:03.297475+00,20745.0,NaN,NaN,2020-09-15 10:00:00+00,2020-08-11,2020-09-15 19:46:43.228273+00,instant,2020-08-18 07:47:38.136128+00,NaN,NaN,NaN
19321,21100,100.0,money_back,2020-10-14 15:04:59.114969+00,2020-12-18 13:12:02.585156+00,57538.0,NaN,NaN,2020-11-05 22:00:00+00,2020-10-16,2020-11-05 20:28:02.885355+00,instant,2020-10-14 15:05:15.990281+00,NaN,NaN,NaN
4839,11573,100.0,rejected,2020-08-09 16:10:57.909031+00,2020-08-09 18:05:00.076869+00,6692.0,2020-08-09 18:05:00.074466+00,NaN,2020-09-07 22:00:00+00,NaN,NaN,regular,2020-08-16 16:10:57.908412+00,NaN,NaN,NaN
3015,7743,100.0,rejected,2020-07-13 06:52:01.234988+00,2020-07-13 15:34:45.935491+00,22360.0,2020-07-13 15:34:45.932964+00,NaN,2020-08-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN

In [ ]:
#cleaning:
# deleted_account_id se pueden utilizar para completar los user_id faltantes.

Para poder definir correctamente los cohorts que menciona en el readme file debemos saber con seguridad si se esta refiriendo a:

SI***
Opcion A:
Cohort se refiere a la terminologia interna de ironhack donde un grupo de estudiantes que pertenecen a un grupo de bootcamp se consideran un cohort.

NO****
Opcion B:
Cohort se refiere al comportamiento que los usuarios muestran con respecto a las metricas de estudio a trav√©s de los meses de uso de el servicio.

In [21]:
feesdf.nunique()

id                 21061
cash_request_id    12933
type                   3
status                 4
category               2
total_amount           2
reason             15149
created_at         21026
updated_at         21061
paid_at            15529
from_date           1084
to_date             1560
charge_moment          2
dtype: int64

In [23]:
feesdf.sample(25)

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
18986,17193,24204.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 24204,2020-10-24 20:53:37.643033+00,2020-10-24 20:53:37.643054+00,2020-11-17 05:14:02.02305+00,NaN,NaN,after
11442,4725,13511.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 13511,2020-08-21 16:21:32.04501+00,2020-10-13 14:25:06.978073+00,2020-09-29 19:55:30.776108+00,NaN,NaN,after
20739,8347,3611.0,incident,rejected,month_delay_on_payment,5.0,month delay on payment - 8/2020,2020-09-19 23:51:51.449711+00,2020-10-13 14:25:12.594047+00,NaN,NaN,NaN,after
11566,16186,22354.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 22354,2020-10-23 06:11:56.418267+00,2020-10-23 06:11:56.418289+00,NaN,2020-11-05 22:00:00+00,2020-12-04 23:00:00+00,before
3726,11477,18038.0,postpone,accepted,NaN,5.0,Postpone Cash Request 18038,2020-10-06 23:02:41.058352+00,2020-10-13 14:25:17.129426+00,2020-10-06 23:02:45.361258+00,2020-10-23 22:00:00+00,2020-11-22 22:00:00+00,before
13604,10092,18575.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 18575,2020-09-30 13:59:06.094403+00,2020-10-13 14:25:10.571411+00,2020-11-03 19:32:38.055604+00,NaN,NaN,after
18234,18948,25452.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 25452,2020-10-28 07:34:29.710532+00,2020-10-28 07:34:29.710556+00,2020-12-02 19:28:18.142465+00,NaN,NaN,after
19949,13494,21150.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 21150,2020-10-14 19:12:19.26041+00,2020-10-14 19:12:19.260431+00,2020-12-17 14:37:47.847994+00,NaN,NaN,after
13223,5029,12452.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 12452,2020-08-24 14:51:05.701331+00,2020-10-13 14:25:09.970234+00,2020-09-12 02:07:29.794993+00,NaN,NaN,after
4392,19570,20211.0,postpone,accepted,NaN,5.0,Postpone Cash Request 20211,2020-10-29 08:12:10.325642+00,2020-10-29 08:12:14.022549+00,2020-10-29 08:12:14.225167+00,2020-11-09 22:00:00+00,2020-12-05 11:00:00+00,before
5827,13874,7353.0,incident,confirmed,month_delay_on_payment,5.0,month delay on payment - 9/2020,2020-10-15 23:00:07.244419+00,2020-10-15 23:00:07.244441+00,NaN,NaN,NaN,after
20960,17038,24060.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 24060,2020-10-24 12:46:03.814464+00,2020-10-24 12:46:03.814492+00,2020-12-04 04:53:56.691299+00,NaN,NaN,after
5652,19167,25624.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 25624,2020-10-28 14:22:23.871444+00,2020-10-28 14:22:23.871466+00,2020-11-05 20:54:11.758511+00,NaN,NaN,after
14094,7887,11105.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 11105,2020-09-16 09:53:02.203799+00,2020-10-13 14:25:11.808106+00,2020-09-03 05:33:55+00,NaN,NaN,after
18241,9494,17107.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 17107,2020-09-27 07:00:49.822077+00,2020-10-13 14:25:18.49209+00,NaN,2020-10-07 10:00:00+00,2020-11-06 10:00:00+00,after
2964,5463,10817.0,postpone,accepted,NaN,5.0,Postpone Cash Request 10817,2020-08-30 10:52:11.215465+00,2020-10-13 14:25:07.947211+00,2020-08-30 10:52:16.198462+00,2020-09-07 22:00:00+00,2020-09-16 22:00:00+00,before
2017,1361,6942.0,postpone,accepted,NaN,5.0,Postpone Cash Request 6942,2020-07-14 09:41:41.747723+00,2020-10-13 14:25:02.341423+00,2020-07-14 09:41:46.230132+00,2020-08-05 23:51:00+00,2020-08-20 23:51:00+00,before
18128,11911,16570.0,postpone,accepted,NaN,5.0,Postpone Cash Request 16570,2020-10-08 10:47:15.360987+00,2020-10-13 14:25:18.290193+00,2020-10-08 10:47:19.268871+00,2020-10-09 22:00:00+00,2020-11-09 11:00:00+00,before
17225,4888,12627.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 12627,2020-08-23 08:59:10.576078+00,2020-10-13 14:25:17.062605+00,NaN,2020-09-01 10:00:00+00,2020-09-04 22:00:00+00,after
8726,19261,25713.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 25713,2020-10-28 16:45:19.349791+00,2020-10-28 16:45:19.34982+00,2020-12-02 19:28:45.941855+00,NaN,NaN,after
3285,6862,15111.0,postpone,accepted,NaN,5.0,Postpone Cash Request 15111,2020-09-09 10:17:35.337784+00,2020-10-13 14:25:09.851863+00,2020-09-09 10:17:39.437951+00,2020-09-29 22:00:00+00,2020-10-30 11:00:00+00,before
379,6976,12623.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-09-09 20:51:58.936505+00,2020-10-13 14:25:17.491391+00,2020-10-27 02:43:33.850095+00,NaN,NaN,after
5586,8472,17066.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 17066,2020-09-21 10:02:29.807867+00,2020-10-13 14:25:12.771572+00,2020-11-03 05:10:53.704307+00,NaN,NaN,after
17893,12675,20499.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 20499,2020-10-11 19:16:15.715213+00,2020-10-13 14:25:17.97127+00,2020-11-05 08:09:46.458436+00,NaN,NaN,after
14648,8532,15105.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 15105,2020-09-21 17:51:42.42066+00,2020-10-13 14:25:12.92626+00,NaN,2020-10-02 23:51:00+00,2020-11-01 23:51:00+00,after

In [ ]:
#Vemos que cuando el type es = incident entonces category = month_delay_on_payment o deject_direct_debit.

In [30]:
feesdf.sample(25)
feesdf[feesdf["total_amount"] != 5.0]

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
20604,15552,22799.0,instant_payment,accepted,NaN,10.0,Instant Payment Cash Request 22799,2020-10-21 13:01:52.493241+00,2021-01-21 15:42:51.372269+00,2020-10-30 00:18:41+00,NaN,NaN,after

In [ ]:
#Hemos encontrado un valor de total_amount = 10.0 en un unico caso lo que nos hace suponer que se trata de un error del sistema.

#proximos pasos:

1. arreglar columna de user_id
2. agregar el cohort dependiendo de la primer transaccion
3. unir los dataframes  (incident rates esta en la tabla de fees)
4. crear un nuevo dataframe que combine las columnas que queremos (para revenue vamos a tener que calcular total_amount por mes y por usuario)